<h1>Employee Listing</h1>

<h3><%= @employee.full_name %></h3>
<h5><%= @employee.email %></h5>
<h5><%= @employee.job_title %></h5>
<h5><%= @employee.salary %></h5>
<h5><%= @employee.japan_country_code %></h5>
<h5><%= @employee.gender %></h5>
<h5><%= @employee.bio %></h5>
<h6>Last updated on: <%= @employee.friendly_updated_at %> at <%= @employee.friendly_updated_time %></h6>