<h1>Employee Listing</h1>

<h3><%= @employee.first_name %></h3>
<h3><%= @employee.last_name %></h3>
<h5><%= @employee.email %></h5>
<h5><%= @employee.job_title %></h5>
<h5><%= @employee.salary %></h5>
<h5><%= @employee.phone_number %></h5>
<h5><%= @employee.gender %></h5>